[2019-02-21 22:46] karafecho commented on #134
@xu-hao @ColinKCurtis : FYI.

  | EVENT (>=2 visits) | No EVENT (<2 visits)
-- | -- | --
Tx | a | b
No Tx | c | d
  |   |  
RR = probability of event in Tx group/probability of event in no   Tx group = (a/(a+b))/(c(c+d))
  |   |  
OR = odds of event in Tx group/odds of event in no Tx group =   (a/b)/(c/d) = ad/bc

[2019-02-22 02:18] karafecho commented on #134
In ICEES the table would equate to the following:

  | NO EVENT | EVENT
-- | -- | --
No Tx | d | c
Tx | b | a

[2019-02-25 19:45] lstillwe commented on #165
@arunacs provided the following information about the CMAQ data and some next steps:

The CMAQ data is provisioned at the level of the US Census Tract.
The Census Tract definition is from the 2010 definition of the US Census, for all years of CMAQ data.

Hello all,

I went back to see what additional pollutants we extracted from the 2002 -2014 archives at EPA, besides O3 and PM2.5.

We have create

[2019-02-25 19:54] colinkcurtis commented on #172
The above error was dealt with by slowing down the rate of concurrent calls to the API.

[2019-02-25 19:54] #172 closed, assigned to colinkcurtis

[2019-02-25 19:55] colinkcurtis commented on #171
This file (from Jim: 'CTD-grouped-pipes.csv.gz') has been added to the CTD API as 'CTD_chem_gene_expanded.csv.gz'.

[2019-02-25 19:55] #171 closed, assigned to balhoff, colinkcurtis

[2019-02-25 19:56] colinkcurtis commented on #170
update: The gunicorn variant of the Onto API is now working locally. Looking to have it dockerized and working behind onto.renci.org/apidocs by Wednesday, February 27.

[2019-02-27 14:39] colinkcurtis opened #173 "Onto API /descendants call ... potential for performance boost"
Currently, this call:

returns an answer containing 4203 IDs in a time of ~ 7 minutes.

The major time consumption can be found here: https://github.com/NCATS-Tangerine/reasoner-tools/blob/master/greent/services/ontology.py#L79

- [ ] Parallelize the for loop seen in the above GitHub link
- [ ] Increase the cores available to the onto Application in Marathon to take advantage of said parallelizati

[2019-02-27 21:07] colinkcurtis commented on #170
Tangentially related: the gunicorn-ificiation of this service was brought up to improve stability of the service. That is still in process. As an attempt at a shorter-term fix, I created a new Marathon/Mesos application using the same set of Onto API files and docker containers and configurations. This has increased the stability of the application for unknown reasons. A temporary improvement.

[2019-02-27 21:12] colinkcurtis commented on #173
Spoke with Yaphet about this problem... discussed using multiprocessing... those tools do not lend themselves to recursion on the object of a for loop in an obvious way

perhaps using a result_list and a queue_list separately, updating both simultaneously, but only operating on the queue_list could work with multiprocessing module.

[2019-02-27 23:13] colinkcurtis opened #174 "Onto API shift to UberGraph"
Currently, Onto API loads the seven relevant obo files (hp, uberon, cl, chebi, mondo, go, ro) behind the scenes and serves them through a set of python functions and a Flask application at onto.renci.org/apidocs

Based on conversation with Jim Balhoff and Chris Bizon:

- BROADLY: Create an interface from UberGraph to UberOnto API to replace and improve upon the current Onto API.

SPECIFICALLY:
- [

[2019-02-28 14:47] colinkcurtis commented on #161
- Marcin J. is now in touch with Steve Cox and Chris Bizon.

- There is a repository of notebooks, found here: [Workflow 9 - Bicluster Notebooks](https://github.com/ncats/translator-workflows/tree/master/WorkFlow9) Within these notebooks, currently the "gene_to_gene..." and "tissue_to_tissue..." are in good condition for evaluation. The other two, "gene_to_tissue..." and "tissue_to_gene...", will

[2019-02-28 14:47] #161 closed, assigned to nobody

[2019-02-28 14:48] #154 closed, assigned to colinkcurtis

[2019-02-28 14:50] colinkcurtis commented on #168
All issues addressed and the next set of concerns is addressed by issue #169

[2019-02-28 14:50] #168 closed, assigned to colinkcurtis

[2019-03-07 15:49] arunacs commented on #165
2002 data ready for ingesting.
/proj/ie/proj/NIH-DataTranslator/for_RENCI/CMAQ/FAQSD/2002/2002_AddlPoll_daily_average.csv

The new pollutants are:
CO, NO, NO2, NOx, SO2, Acetaldehyde, Formaldehyde, Benzene

Here is the header
ID,FIPS,CLon,CLat,COL,ROW,GLon,GLat,Date,CO_ppbv,NO_ppbv,NO2_ppbv,NOX_ppbv,SO2_ppbv,ALD2_ppbv,FORM_ppbv,BENZ_ppbv
36557,1001020100,-86.49001,32.47718,296,80,-86.4288,32.49273

[2019-03-07 16:01] colinkcurtis commented on #174
UPDATE:
Access this service at https://uberonto.renci.org/apidocs !

- /descendants (~7200x faster for GO:0005575 query!)
- /id_list
- /label
- /children

TO DO:
- [x] get the reverse proxy set up for uberonto.renci.org/apidocs
- [ ] all_properties
- [ ] closeMatch
- [ ] exactMatch
- [ ] is_a
- [ ] lookup (?)
- [ ] parents
- [ ] search
- [ ] siblings
- [ ] synonyms
- [ ] xrefs

[2019-03-07 16:03] colinkcurtis commented on #173
Use http://stars-dw5.edc.renci.org:5007/apidocs/#/default/get_descendants__curie_

[2019-03-07 16:03] #173 closed, assigned to colinkcurtis

[2019-03-13 16:23] #170 closed, assigned to colinkcurtis

[2019-03-15 16:19] xu-hao opened #175 "Create Common API for Querying Clinical Data for COHD, ClinicalProfile, and ICEES"
In collaboration with COHD and ClinicalProfile
- [ ] Create a common API for querying Clinical Data for COHD, ClinicalProfile, and ICEES
    - [ ] Create mapping tools between concepts between COHD, ClinicalProfile, and ICEES
    - [ ] Create a library for querying those APIs
    - [ ] Create a tool based on code developed in the previous Hackathon for combining data from those APIs for presentati

[2019-03-15 18:27] stevencox commented on #175
Thanks @xu-hao, this looks good. This will give us a clinical reasoner which basically means it takes a`Message` object in the [Translator Knowledge Graph Standard](https://github.com/NCATS-Tangerine/NCATS-ReasonerStdAPI) and also returns one, populating it with a knowledge graph and bindings.

[2019-03-15 18:49] karafecho commented on #165
@arunacs : Thanks! @lstillwe : Perhaps you can coordinate with Sarav to add the new data to the CMAQ Exposures Service?

[2019-03-20 19:45] colinkcurtis opened #176 "Complete documentation and tests for reasoner-tools"
Complete documentation for:
- [ ] BioNames
- [ ] Onto
- [ ] UberOnto
- [ ] CTD
- [ ] BiCluster

Finish tests for:
- [ ] BioNames
- [ ] Onto
- [ ] UberOnto
- [ ] CTD
- [ ] BiCluster

Completion date: Friday, March 29

[2019-03-25 17:25] lstillwe commented on #165
Sarav,
Do we have standard error values for these new pollutants as well?
Thanks - Lisa

ozone and pm2.5 file format:
Date,  FIPS,  Longitude,  Latitude,  pm25_daily_average(ug/m3),  pm25_daily_average_stderr(ug/m3)
2002/01/01,  01001020100,  -086.49001,  032.47718,  00012.739,  00004.5060
2002/01/01,  01001020200,  -086.47339,  032.47425,  00012.738,  00004.5305

[2019-03-25 17:50] karafecho commented on #167
@lstillwe : where do we stand with this issue?

[2019-03-25 18:50] lstillwe commented on #167
Hi @karafecho  - Just in design phase now - was concentrating on #165 first.

[2019-03-26 13:34] karafecho commented on #145
Accepted for publication on 3/14/19.

[2019-03-26 13:35] karafecho commented on #144
Submitted to CTS. Reviewed positively. Resubmitted on 3/19/19.

[2019-03-26 13:36] karafecho commented on #142
Per Steve A., 3/25/19: Yes, I wiil get data from the earlier time period [2007-2011].  I've been working on working out some puzzles in the "urban" variable and should be done with that in another few days.  After that, I will see about some additional variables for the present time frame, which should not take too much additional time.  Then I will replicate the data with values for an earlier pe

[2019-03-27 19:15] colinkcurtis opened #177 "Convert Green Team (KS) Services from Flask-default wsgi to gunicorn"
While maintaining the Docker containerized (running on Marathon/Mesos) scheme, convert the following services to gunicorn wsgi in place of the current Flask-default wsgi:

- [x] Uberonto
- [x] BioNames
- [ ] Onto

[2019-03-28 19:25] colinkcurtis commented on #177
maybe also do:

- [ ] CTD-api
- [ ] BiCluster

Those ones should be pretty easy actually since they are just being run by a 'server.py' script...

[2019-03-29 01:24] karafecho commented on #143
@lstillwe : Please confirm that the National Center for Education Statistics data that we obtained from Cedar Grove also are available on data.gov. I'm also wondering how hard would it be to add those data to the Roadway API or develop a separate API. Thanks!

[2019-03-29 02:59] arunacs commented on #165
Unfortunately, I don't have them handy, and need to find network of observations  for these pollutants to compute them. Will take a look and let you know.

[2019-03-29 18:44] colinkcurtis commented on #177
Onto is very tricky... because it is using local resources (the .obo files), the process to properly access them when running the app via gunicorn inside a Docker container is more complex than in the previous two services' setups.

I am sure it is doable but it does not appear I will be able to finish this today. Since getting gunicorn running for BiCluster API and the CTD-api is more straight-fo

[2019-04-02 13:59] stevencox commented on #175
@xu-hao - are we close to having a version of this that works with ICEES I can query? It looked like you had most of the parts when we spoke last.

[2019-04-02 14:02] xu-hao commented on #175
@stevencox
tI'll have the api ready early next week.

[2019-04-02 14:03] stevencox commented on #175
Sounds good. Thanks.

[2019-04-11 20:06] empfff opened #178 "i2b2ACT to FHIR mappings"
Need to create a new set of CAMP FHIR scripts corresponding to the i2b2 ACT data model.

[2019-04-19 15:13] karafecho commented on #132
@lstillwe : When you get a chance, perhaps you can look into the US EPA conUS CMAQ data and see if we can pull data on additional chemicals? It would be great to expand the 2002-2014 conUS CMAQ data to include data on a variety of chemicals, not just PM2.5 and ozone.

[2019-04-19 17:06] karafecho commented on #114
Update, 4/19/19:

1. Publishing this [TIDBIT](https://docs.google.com/presentation/d/1_A_lR-72dykosalm1cXN16ndIYROMW9mxs0X8Jly__A/edit?usp=sharing) (see comments [here](https://docs.google.com/document/d/1Bb3kUm7KPpAB4sfNmxQS4TBGxDBS8BC3XiyGNNvSmx0/edit?usp=sharing)).

- From Charles: It comes down to whether its an EPR enabled by Translator paper or Translator methods paper with EPR as a use case

[2019-04-22 14:15] lstillwe commented on #132
@karafecho I do have the new data from @arunacs however, I wanted to wait for an update from @arunacs to see if we can get error values for these new pollutants. (see https://github.com/ResearchSoftwareInstitute/greendatatranslator/issues/165#issuecomment-477848061). It requires a bit of work to add new columns to the existing table, so I would rather have all data in hand before taking on this ta

[2019-04-22 14:23] karafecho commented on #132
@lstillwe : Yes, please coordinate with @aruncas. If the standard errors will require a lot of work to obtain and add to the table, then perhaps we should move forward as is. WRT the new pollutants, my understanding was that these are for year 2010 only. If so, I'm wondering if we can obtain additional years of data. We have users at NIEHS who are eager for data on additional pollutants.

[2019-04-22 16:19] arunacs commented on #132
Yes, additional years of data are easier to get to than getting standard errors. I should be getting those to you this week, after another round of QA. The problem I saw earlier has been resolved.

[2019-04-22 16:58] karafecho commented on #143
@lstillwe : Please ignore my request above. I've since confirmed the availability of the NCES data on data.gov. WRT my second question, however, I think it might be good to either develop a new School Exposures API or expand the Roadway Exposures API to include the NCES data. See [this Reveal segment](https://www.wunc.org/post/farm-wars), suggesting higher rates of asthma among children who attend

[2019-04-22 21:36] karafecho commented on #132
@arunacs : Do we have access to data on dichlorobenzene? Does conUS provide a list of available chemical exposures? Just wondering.

[2019-04-23 15:08] lstillwe commented on #143
Kara,

Is the school data you want me to use in the Google drive GreenTeamDataTranslator/SchoolData or is the different data on data.gov<http://data.gov>?

I found this dataset on data.gov<http://data.gov> that also may help us access whether the school is in a rural area or not: https://catalog.data.gov/dataset/nces-locale-boundaries

Lisa

On Apr 22, 2019, at 12:58 PM, karafecho <notifications@g

[2019-04-23 16:49] lstillwe commented on #143
Kara,

This data looks good: https://nces.ed.gov/programs/edge/Geographic/SchoolLocations
Is this what you wanted to use? It has Public School data for 2015 - 2018.

Thanks,
Lisa

On Apr 23, 2019, at 11:08 AM, Stillwell, Lisa Ann <lisa@renci.org<mailto:lisa@renci.org>> wrote:

Kara,

Is the school data you want me to use in the Google drive GreenTeamDataTranslator/SchoolData or is the different da

[2019-04-23 17:15] karafecho commented on #143
@lstillwe : I agree, the NCES data look great. The NCES dataset that we received from Cedar Grove can be found on Google [here](https://drive.google.com/open?id=1_wDNVQ7s-llDej1djUrY7BSCsxp_ruFI), years 2015-2016. I'll let you decide whether or not you wish to use the Cedar Grove sample or create a new dataset from source files.

[2019-05-13 16:54] jameschump opened #179 "Automating SQL Gymnastics for creating ICEES tables."
Every time we create a new set of ICEES tables, Emily has to do some tricky sql gymnastics with multiple databases in order to get data to hand off to camp-fhir. I will be creating program (possible an extension to camp-fhir itself) to automate this process.

[2019-05-13 17:31] lstillwe commented on #132
Just want to touch base with @arunacs and @karafecho: Do we now have standard errors for the additional exposure data provided? If not should I move ahead and just add these new pollutants without standard errors? Thanks!

[2019-05-13 20:21] karafecho commented on #132
If I'm not mistaken, I think @arunacs is hoping to pull additional years of data. Let's hold off until he replies.

[2019-06-17 16:53] #179 closed, assigned to jameschump, empfff

[2019-06-21 13:22] karafecho commented on #132
From Sarav, Jan 29:

We have created daily averages at census block resolution for the following additional pollutants:

CO, NO, NO2, NOx, SO2, Formaldehyde, Acetaldehyde for the same time period.

Benzene, a key mobile source air toxic, however is not available continuously. It is on and off for some reason, and I need to investigate more.

From Sarav, Feb 6:

The resolution is census tracts - id

[2019-06-21 13:24] karafecho commented on #132
@arunacs : Pehaps you can provide an update on the above comments? I think we'd like to move forward with or without benzene. We're about to generate new ICEES tables for 2010-2016, using the now validated CAMP FHIR/FHIR PIT pipeline, and it would be great to include the additional airborne toxicants.

[2019-06-24 16:21] arunacs commented on #132
Confirming the following:

Have 2015 data for O3 and PM25 from the EPA. Will process and add them. 2016 is next on the EPA list, but  unlikely before next Hackathon.
Benzene is available only intermittently - for the years 2002, 2006, 2013 and 2014. But Formaldehyde and Acetaldehyde, along with CO, NO, NO2, NOx and SO2  are continuous. Will provide links to these extractions.

[2019-06-24 17:36] karafecho commented on #132
Great news re the 2015 EPA data. Do you have an ETA for when you will be able to provision the new data for O3, PM25, acetaldehyde, CO, NO, NO2, NOx, and SO2 for years 2002-2015, plus benzene for the years that are available?

[2019-06-24 17:42] karafecho commented on #146
Update on where we are, in terms of integrated ICEES tables:

- 2010, 2011 ICEES tables (patient and visit) generated using the manual pipeline and including CDWH patient data, 2012-2016 ACS data (one dataset from 5-year survey), 2010 & 2011 CMAQ data on PM2.5 and ozone from first batch (large grid sizes), 2016 TIGERline roadway data, and 2016 HPMS roadway data.
- 2010 ICEES tables (patient and vi

[2019-06-26 18:57] karafecho commented on #142
June 2016: Steve A. provided new expanded dataset for 5-year sample periods of 2007-2011 and 2012-2016, with additional variables and refined standard errors.

New variables:

**EstPopulation
**EstPropFemaleHouseholdNoSpouse
**EstPropFemaleHouseholdFamilyChild
**EstPropFemaleHouseholdAnyChild
**EstPropHighSchoolDropoutNoWork
**EstPropHouseholdSSI
**EstPropHouseholdPA
**EstPropMaleLittleWork

To be

[2019-06-27 14:29] karafecho commented on #114
Update on status of ongoing projects:

1. NIEHS EPR data (survey data, SNP data) and RENCI Translator ICEES asthma-like cohort (Shepherd, Charles, Kara, Emily, Hao)

- Replicate NIEHS EPR study using shared patients in EPR and Translator asthma-like cohort (Charles, Kara)

- Add EPR data to new ICEES tables for years 2010-2016, to be generated using CAMP FHIR PCORnet-> FHIR data conversion pipelin

[2019-07-08 16:47] arunacs commented on #132
I need to do some additional processing and QA before I hand them off. With a new hire (in progress), I hoping to turn these over in a month or sooner from now.

[2019-07-17 19:06] karafecho commented on #146
Update:

CAMP FHIR-generated i2b2 -> FHIR patient/visit files for 2010 were used for validation testing

CAMP FHIR-generated PCORnet -> FHIR patient/visit files for 2010 and 2015 were created and sent to Hao for integration using FHIR PIT

CAMP FHIR-generated PCORnet -> FHIR patient/visit files for 2011 and 2016 are nearly complete

CAMP FHIR-generated PCORnet -> FHIR patient/visit files for 2012,

[2019-07-24 14:37] karafecho commented on #146
Corrections and update:

CAMP FHIR-generated i2b2 -> FHIR patient/visit files for 2010 were used for validation testing

CAMP FHIR-generated i2b2 -> FHIR patient/visit files for 2011 were sent to Hao for integration using FHIR PIT

CAMP FHIR-generated i2b2 -> FHIR patient/visit files for 2012-2014 are forthcoming

CAMP FHIR-generated PCORnet -> FHIR patient/visit files for 2015 were sent to Hao fo

[2019-07-24 14:38] karafecho commented on #146
From Hao re LOINC2HPO tool:

I've talked to the developer of LOINC2HPO. And it seems like it is not too hard to integrate. But my impression from the conversation was that that we need to refactor their code into a library in order to use it.

@xu-hao : is this something that a student intern may be able to help with?

[2019-07-28 00:44] stevencox opened #180 "ICEES Query"
@xu-hao

I'm not getting results back for a population->chemical query to icees.

Not sure if the query below's still good but it seems to be getting a database connection error.

Does something need to be restarted?

FWIW, it does seem consistent.

@karafecho

[code]

[2019-07-28 00:55] karafecho commented on #180
Rose Wang (student intern from NCSSM) and I are receiving the same error message that Steve received.

![image](https://user-images.githubusercontent.com/26254388/62000899-dec9a380-b0b0-11e9-9be1-0a9b632463ef.png)

[2019-07-29 17:54] karafecho commented on #146
Per James, 07.29.19:

I loaded the 2016 data on to Rockfish in folder /home/champioj/FHIR/. It's names 2016.tar.

[2019-08-21 14:34] karafecho commented on #146
@jameschump : Thanks for loading the 2016 data. Any updates on the 2012, 2013, 2014 data? ETA? Part of the hackathon plan is to inventory Translator Clinical Data Sources, so I'm hoping we can provide a "complete" set of tables, if that makes sense.

[2019-08-21 15:00] empfff commented on #146
@karafecho funny you should ask, we should have it all by next week. 2012 is just about ready to go, 2013 and 2014 to follow shortly thereafter.

[2019-08-21 15:19] jameschump commented on #146
I will get to it this afternoon.

[2019-08-21 20:26] karafecho commented on #146
@empfff @jameschump : Great! Thanks.

[2019-08-21 20:29] karafecho commented on #132
@arunacs : Thanks for meeting earlier today. Please provide an update in GitHub, noting what conUS data have already been sent to Lisa, an ETA for the 2015 data, and an expected release data for the 2016 data. Thanks!

[2019-08-22 15:10] jameschump commented on #146
@karafecho @xu-hao @empfff Okay, 2012 is out there in /opt/RENCI/output/FHIR/2012

[2019-08-22 15:23] xu-hao commented on #146
Thanks!
________________________________
From: jameschump <notifications@github.com>
Sent: Thursday, August 22, 2019 11:10 AM
To: ResearchSoftwareInstitute/greendatatranslator <greendatatranslator@noreply.github.com>
Cc: Xu, Hao <xuhao@renci.org>; Mention <mention@noreply.github.com>
Subject: Re: [ResearchSoftwareInstitute/greendatatranslator] Plans for Expanding ICEES (#146)

Okay, 2012 is out th

[2019-08-22 21:33] karafecho commented on #132
@arunacs : I checked with Hao. He needs the 2015 conUS data by next Friday, 8/30, at the latest. Thanks!

[2019-08-26 17:24] lstillwe commented on #132
Unless I have missed something, what I have so far is 2002-2014 data for ozone and pm2.5.
Nothing new beyond that.

[2019-08-26 17:58] karafecho commented on #132
@arunacs : Given the fact that the hackathon is less than three weeks ago, we really need to push the new data so that Lisa can updated the API and Hao can integrate the data with the new patient data files. Let's aim for an ETA of Friday, August 30, 2019 to complete the following tasks: (1) send Lisa the 2002-2014 data for the six new airborne pollutants; (2) send Lisa the 2015 data for all eight

[2019-08-30 22:36] arunacs commented on #132
@karafecho @lstillwe We now have 2015 and 2016 data for O3 and PM2.5 - same format as before.

[sarav@dogwood-login2 FAQSD]$ pwd
/proj/ie/proj/NIH-DataTranslator/for_RENCI/CMAQ/FAQSD
[sarav@dogwood-login2 FAQSD]$ ls -c1 201[56]
2016:
2016_ozone_daily_8hour_maximum.txt
2016_pm25_daily_average.txt

2015:
2015_ozone_daily_8hour_maximum.txt
2015_pm25_daily_average.txt

2016 data is hot off of the pres

[2019-09-04 13:44] karafecho commented on #132
This is great! Thanks, Sarav.

@lstillwe : Do you think we can modify the API to allow access to the data prior to (or during) the hackathon?

@xu-hao : Perhaps you can coordinate with Lisa to add the additional airborne pollutants to the new ICEES tables? If you have questions, feel free to holler.

[2019-09-04 19:33] lstillwe commented on #132
@arunacs
Questions ...
1) The pm2.5 & ozone datasets have different headers for the 2015,2016 data, are they the same meaning?
Example:
OLD:Date,FIPS,Longitude,Latitude,ozone_daily_8hour_maximum(ppb),ozone_daily_8hour_maximum_stderr(ppb)
NEW:Date,Loc_Label1,Latitude,Longitude,Prediction,SEpred

2) The pm2.5, ozone dataset has a 11 digit FIPS code and the other variables have a 10 & 11 digit FIPS c

[2019-09-06 16:10] arunacs commented on #132
@lstillwe Confirming answers to both questions. Yes and Yes. Thanks Lisa.

[2019-09-09 13:38] stevencox opened #181 "Deploy Automated Tests"
Deploy automated tests using the [Translator Testing Framework](https://github.com/NCATS-Tangerine/translator-testing-framework) for [TranQL](https://github.com/NCATS-Tangerine/tranql) at our [Jenkins](https://stars-app.renci.org/jenkins/login?from=%2Fjenkins%2FpluginManager%2Favailable) instance.

[2019-09-09 13:39] stevencox opened #182 "Create Onto Unit Tests"
Create a validation suite using pytest for the Onto service logic.

Execute the unit tests in an automated Travis build as is done for [TranQL](https://github.com/NCATS-Tangerine/tranql)

[2019-09-09 13:40] stevencox opened #183 "Move Onto Logic to UberGraph"
Make the Onto service invoke the UberGraph SPARQL endpoint rather than using obo files on disk.

Validate changes using the automted pytests developed in #182

[2019-09-09 20:26] cnbennett3 commented on #181
TranQL automated tests are up and running on Jenkins using the behave Translator Testing Framework.  Tests include availability tests and tests for correctness for both ROBOKOP and ICEES.

[2019-09-09 20:26] #181 closed, assigned to cnbennett3

[2019-09-19 16:04] xu-hao commented on #146
2012, 2013 : integrated with env data, will do acs and nearest road next
2014: received data
2010, 2015: waiting for issues to be resolved upstream

[2019-09-21 20:34] karafecho commented on #146
Thanks for the update, Hao.

@jameschump : where do we stand with the 2011 and 2016 patient data? also, what have the issues been with the 2010 and 2015 data?

[2019-10-01 12:39] karafecho commented on #146
@jameschump @xu-hao @empfff @stevencox : Just so you all are aware, Stan and I are heading to the CDC on November 1 (exactly one month from now). The purpose of this visit is to talk about ICEES, the exposures data, and open science. NCATS will be there, including Noel (on behalf of Christine) and possibly Chris Austin (schedule permitting). It would be really great to have the new ICEES tables lo

[2019-10-02 20:23] cnbennett3 commented on #182
Complete, just needs final merge.  Also ran them against new UberGraph Onto logic, until all the kinks were out.

[2019-10-02 20:23] #182 closed, assigned to cnbennett3

[2019-10-02 20:26] cnbennett3 commented on #183
The code migration was already completed by Yaphet Kebede.  Ran the new unit TC's against the changes until pass rate was 100%.

[2019-10-02 20:26] #183 closed, assigned to cnbennett3

[2019-10-04 20:09] cnbennett3 opened #184 "BioNames Validation and Bionames/Onto Code Reorganization"
DONE: Create a validation suite using pytest for the BioNames service logic.
DONE: Execute the unit tests in an automated Travis build as is done for TranQL.
DONE: Move the BioNames docker container to the renciorg organization.
DONE: Move the Onto docker container to the renciorg organization.
DONE: Remove duplicated code from Onto, especially multiple approaches to starting the app.

Estimated T

[2019-10-10 14:09] cnbennett3 commented on #184
All tasks completed.

[2019-10-10 14:09] #184 closed, assigned to cnbennett3

[2019-10-11 20:50] karafecho commented on #146
@jameschump @xu-hao @empfff @stevencox : Any updates, folks?

[2019-10-14 13:08] empfff commented on #146
i believe @jameschump and i have provisioned all data to rockfish for all years as of a few weeks ago. if this is not the case, please let us know.

[2019-10-15 18:46] karafecho commented on #146
@jameschump : My understanding was that there were issues with some of the data that you provided and that you were working with Hao to address the issues. Has everything been addressed? @xu-hao : Do you have everything you need?

[2019-10-15 18:54] jameschump commented on #146
Hao noticed a possible issue with the encoding type which I am currently looking into. Had to do with some of the Greek letters in the medication files.

[2019-10-15 21:00] karafecho commented on #146
Thanks, James. We need to get rolling on this, so perhaps you can provide an ETA?

[2019-10-16 13:44] jameschump commented on #146
I'm working on it now and plan to have it resolved today.

[2019-10-16 13:47] xu-hao commented on #146
James is working on it. I don't need anything else for now.
________________________________
From: karafecho <notifications@github.com>
Sent: Tuesday, October 15, 2019 2:46 PM
To: ResearchSoftwareInstitute/greendatatranslator <greendatatranslator@noreply.github.com>
Cc: Xu, Hao <xuhao@renci.org>; Mention <mention@noreply.github.com>
Subject: Re: [ResearchSoftwareInstitute/greendatatranslator] Plan

[2019-10-16 13:52] xu-hao commented on #146
@jameschump I just remembered another question is that in 2015 lab some has effectiveDateTime field some has issued field.
________________________________
From: Xu, Hao <xuhao@renci.org>
Sent: Wednesday, October 16, 2019 9:47 AM
To: ResearchSoftwareInstitute/greendatatranslator <greendatatranslator@noreply.github.com>; ResearchSoftwareInstitute/greendatatranslator <reply@reply.github.com>
Cc: Men

[2019-10-17 16:11] jameschump commented on #146
Spoke with Hao this morning regarding the confusion around effectiveDateTime and issued fields and explained how they are populated from pcornet database vs i2b2. Also discussed the character encoding issue and what I need to do to fix it which I am working on now and hope to have corrected by the end of today.

[2019-10-17 18:41] karafecho commented on #146
Great! Thanks for the hard work, James and Hao.

[2019-10-17 19:30] jameschump commented on #146
I handed off an updated file with the correct character encoding so it should work now. Hao is now running through his pipeline.

[2019-10-23 23:14] karafecho commented on #146
Update, 10.23.19: Hao is reviewing the 2010 to 2016 clinical data. He identified issues with several years of data (2010, 2011, 2014, 2015, 2016) and working with James to resolve them. Most of the issues have been resolved, although some remain. The 2012 and 2013 clinical data have been run through FHIR PIT and are now integrated with the environmental exposures data.

In an effort to prioritize

[2019-10-26 16:29] karafecho commented on #146
Update, 10.25.19: PCORnet meds from 2010 are unavailable; i2b2 meds from 2010 will be used as a substitute.

[2019-11-04 15:47] karafecho commented on #165
@lstillwe @arunacs : Any updates on the new pollutants? Can we add them to the API even if the standard error estimates are unavailable? This is kind of important given that the EHP manuscript that is under review, as well as the fact that I included a link to the API in the slides that I presented on Friday (and later circulated via email) to the CDC and NCATS.

[2019-11-04 17:50] lstillwe commented on #165
Kara,

I will give you an update on what I know about the status of the data, by tomorrow.
I am in an unrelated meeting all day today, and hope to have time tomorrow to look into it.

Lisa

On Nov 4, 2019, at 10:47 AM, karafecho <notifications@github.com<mailto:notifications@github.com>> wrote:

@lstillwe<https://github.com/lstillwe> @arunacs<https://github.com/arunacs> : Any updates on the new po

[2019-11-05 15:29] lstillwe commented on #165
@karafecho I currently have 2002 - 2014 for new pollutants data. The data does not contain standard error estimates. Also I have a question @arunacs : this data contains 2 set of lat, lon coordinates - CLon,CLat and GLon,GLat. What is the difference between these 2 sets of coordinates? Not sure which to use. Thanks!

[2019-11-05 18:06] karafecho commented on #165
Thanks for the update, Lisa.

@arunacs : I think we need to add data for years 2015 and 2016, too. Perhaps you can transfer those data to Lisa?

[2019-11-05 18:06] karafecho commented on #165
Thanks for the update, Lisa.

@arunacs : I think we need to add data for years 2015 and 2016, too. Perhaps you can transfer those data to Lisa?

[2019-11-05 18:07] karafecho commented on #165
Thanks for the update, Lisa.

@arunacs : I think we need to add data for years 2015 and 2016, too. Perhaps you can transfer those data to Lisa?

[2019-11-05 18:07] karafecho commented on #165
Thanks for the update, Lisa.

@arunacs : I think we need to add data for years 2015 and 2016, too. Perhaps you can transfer those data to Lisa?

[2019-11-07 20:50] stevencox opened #185 "TranQL prototype"
Follow installation instructions at this [repo](https://github.com/stevencox/t2/blob/master/load.scala).

Export robokop genes using the t2 script.

Use the load.scala script to import into Spark and query.

[2019-11-18 21:15] karafecho commented on #142
@appolds@email.unc.edu: When you get a chance, please look at the "ur" (urban/rural) variable. Something seems off, as I wouldn't think that the vast majority of UNC patient households would be classified as urban. The EstResidentialDensity variable and the roadway data classify the majority of UNC patient households as urban.

[2019-11-19 19:46] karafecho commented on #146
@jameschump @empfff @xu-hao : With the Translator Phase II proposals successfully submitted, I thought I'd check on the status of the new tables. Any updates?

[2019-11-19 20:02] xu-hao commented on #146
I've finished generating unbinned new table for 2012 (including acs, ur, nearest road data, previous update only include the env data).

I encountered some issues with 2013 and @jameschump has helped resolve them and I'm currently working on it.

[2019-11-19 22:18] karafecho commented on #146
Great! Thanks, Hao.

@jameschump : Where do things stand with the patient data for years 2010, 2011, 2014, 2015, and 2016?

[2019-11-21 15:06] karafecho commented on #146
@xu-hao : Just to clarify, the EPR data are being integrated, too, correct?

[2019-11-21 15:08] xu-hao commented on #146
I was working on it but hit a roadblock because the crosswalk file didn't match the id in the epr file. I sent and email and we discussed the issue and I think Emily is working on generating a new crosswalk file.

[2019-11-21 17:21] karafecho commented on #146
Yes, I recall that discussion, but I thought you were moving ahead with the roughly 600 matches while you waited for the new crosswalk from @empfff. If it makes more sense to wait, that's fine; I just want to make sure we're all on the same page.

[2019-11-21 18:14] xu-hao commented on #146
I don't have the 600 matches. If @empfff  can send me the file, I can move ahead.

[2019-11-21 18:15] empfff commented on #146
I just got back from AMIA today. I will try to get you the matches tomorrow.

[2019-11-21 18:17] karafecho commented on #146
Great! I now see my confusion: I forgot that it was Emily (not Hao) who identified the roughly 600 matches.

[2019-11-28 18:20] xu-hao commented on #114
Latest cross walk data for EPR data results in

* 213 matches with 2012 fhir data and
* 42 matches with icees table.

The difference between these two data sets include:

1. rows with no lat, lon
2. rows with age >= 90

which are excluded from icees table

[2019-11-29 18:52] szcc commented on #114
We have some Tox21 APIs but currently there are behind firewall. We'll make
it public available asap.

On Thu, Nov 28, 2019 at 1:20 PM xu-hao <notifications@github.com> wrote:

[2019-12-02 15:46] karafecho commented on #114
@szcc : Sounds great.

Forgive my ignorance, but I don't recognize your user name. Perhaps you can remind me?

[2019-12-02 16:15] szcc commented on #114
Sue Nolte from NIEHS

On Mon, Dec 2, 2019 at 10:46 AM karafecho <notifications@github.com> wrote:

[2019-12-02 16:35] karafecho commented on #114
👍

[2019-12-05 17:48] karafecho commented on #146
@jameschump @xu-hao : I'm wondering if the remaining issues with the 2010-2016 patient files have been resolved. Thanks!

[2019-12-05 19:55] xu-hao commented on #146
@karafecho Currently 2010 and 2011 data are no longer available on rockfish. I believe @empfff  will put it back on there, but according to our meeting it was not the first task she would be tackling. I tried running the pipeline on 2014 to 2016 data and I've sent @jameschump  emails on issues with 2014 and 2015 data. Currently, the pipeline on 2016 data is running.

[2019-12-05 20:20] empfff commented on #146
@xu-hao can you document these issues you're finding in this thread? it will be easier for me and James to work together to solve things if I can understand what the issues are as well. It is not clear to me if these are minor tweaks, or major issues.

Regarding the 2010 and 201 data--I can recreate them, but as I mentioned on the call, my thought was that those would not be as high priority of a

[2019-12-05 20:31] xu-hao commented on #146
@empfff

2014:
Observation_Labs/5424000.json seems to be having only part of a json object. It looked like it was not a complete json object.

2015:
MedicationRequestion some records in the files doesn't have medicationCodeableConcept, but have medicationReference, which differs from data from other years. In other years, the records have medicationCodeableConcept field but not medicationReference

[2019-12-05 21:02] karafecho commented on #146
I agree that we should try to maintain all documentation here, just so that we're all on the same page and so things don't slip through, especially as we (hopefully) work toward the March 2020 demonstration project.

WRT 2010 and 2011, how hard/time-consuming is it to generate new tables using CAMP FHIR? I don't have a good feel for this, but I probably should know for future reference. Thanks!

[2019-12-05 22:23] empfff commented on #146
@karafecho it's not that time consuming to do it for data that's available in PCORnet, but running the pipeline in i2b2 to grab the older stuff is pretty challenging/time consuming. Pulling data for 2017 would be a snap--re-pulling 2010, less so.

[2019-12-06 15:38] karafecho commented on #146
@empfff : I see. Thanks for the explanation.

So, we have two versions of 2010 data available via the ICEES OpenAPI, although they are out of date in terms of the number of available feature variables. A version of 2011 data WAS available via the ICEES OpenAPI, but I asked Hao to remove the data because there were issues with the exposures data for that year.  We could focus on 2012-2016 initially

[2019-12-10 18:37] karafecho commented on #146
@empfff @jameschump @xu-hao  : We are submitting a no-cost extension for Green Team's Translator award. I am adding the following specific activity: Expanded ICEES Integrated Feature Tables.
We will work to expand the existing the ICEES integrated feature tables to include additional variables, based on new use cases, and additional years of data, beyond the most recent available calendar year of

[2019-12-10 20:49] xu-hao commented on #146
@jameschump @empfff  I noticed that in the 2016 data there is no display field under MedicationRequestion's medicationCodeableConcept field, I've been using that field to match medication name for generating icees features, is it possible to add that field or is there a preferred way to do this?

[2019-12-12 16:28] karafecho commented on #146
Julie Hayes will be submitting the annual IRB renewal in January 2020. At that time, a protocol modification will be requested to: (1) remove individuals who do not require access to the identified patient data; and (2) extend the study to include calendar years 2017, 2018, and 2019.

[2019-12-12 17:47] karafecho commented on #146
Update from 12.11.19:

1. @jameschump is re-running CAMP FHIR to generate new year 2015 patient data and fixing errors with year 2014 patient data. Also regenerating 2011 patient data, which was deleted from Rockfish and thus no longer accessible.
2. @xu-hao will use the RxNorm IDs available in [this spreadsheet](https://github.com/NCATS-Tangerine/icees-api/blob/master/docs/ICEES_Identifiers_v7%20

[2019-12-12 20:08] jameschump commented on #146
I regenerated 2015 medication data and pushed onto rockfish. Let me know if you see any issues.

[2019-12-14 01:01] xu-hao commented on #146
Thanks!

[2019-12-16 15:57] jameschump commented on #146
Data for 2014 Observation Labs has been regenerated.

________________________________
From: xu-hao <notifications@github.com>
Sent: Tuesday, December 10, 2019 3:49 PM
To: ResearchSoftwareInstitute/greendatatranslator <greendatatranslator@noreply.github.com>
Cc: Champion, James Robert <champioj@email.unc.edu>; Mention <mention@noreply.github.com>
Subject: Re: [ResearchSoftwareInstitute/greendatatr

[2020-01-08 14:06] karafecho commented on #146
@jameschump : Where do things stand with the 2011 patient data?

[2020-01-08 23:22] karafecho commented on #146
@xu-hao : Please confirm that the RxNorm IDs available in the spreadsheet linked above are sufficient, at least as a temporary fix, for the 2016 patient data.

[2020-01-09 15:07] karafecho commented on #146
Hao confirmed that the RxNorm identifiers that I provided in the spreadsheet above are adequate for the 2015 and 2016 patient files.

[2020-01-09 19:56] karafecho commented on #146
@empfff @xu-hao : Perhaps one of you can remind me of the status of data on pulmonary lung function tests? Mike Knowles and Margaret Leigh are interested in capturing this, as is Dave. I remember investigating this with Emily, but I can't recall the outcome.

[2020-01-09 19:58] empfff commented on #146
we should be able to get these--they're not in the current data pulls, though, so we would have to build the capability to handle them. not a huge ask.

[2020-01-09 21:06] karafecho commented on #146
Great, @empfff. Let's prioritize this after we (1) resolving the hashing issues and (2) work out the remaining kinks in the 2010-2016 patient data. Does this seem like a reasonable plan?

[2020-01-09 21:43] empfff commented on #146
We are unaware of kinks in the 2010-2016 data other than needing to recreate the raw files for 2010-2011, which we are working through now. Are there other things that james and I need to handle?

[2020-01-09 21:52] karafecho commented on #146
As of the moment, the only issues relate to recreating new 2010 and 2011 patient files. Thanks for checking.

[2020-01-10 15:29] karafecho commented on #114
Emily to resolve hashing issues the week of January 13, 2020.

[2020-01-10 15:39] karafecho commented on #114
@xu-hao : I checked with the EPR folks regarding the EPR "HE_COMPLETION_DATE" variable. This is the variable we should use for integration. So, we should examine exposures during the year prior to survey completion for the CMAQ airborne exposures data. For the ACS socio-economic data, we should use the 5-year block in which the survey was completed. For the roadway data, 2016 is the only option. D

[2020-01-10 23:03] karafecho commented on #146
From Emily, new hash matching results, 1/10/2020:

UNCHCS denominator: 2,770,607 patients

NIEHS EPR denominator: 19,388 participants

Matched: 7,233 people (37% of all EPR participants)

[2020-01-13 15:01] karafecho commented on #146
From Emily: The “identifier” I have for the NIEHS participants is a hash. Because we redid the hashing effort, this hash will not be the same NIEHS hash that Hao currently has in his possession. This means that NIEHS will need to either re-run their data for Hao with the new hash swapped in as the patient identifier, OR will need to produce a hash crosswalk for Hao so he can translate between the

[2020-01-13 19:54] karafecho commented on #146
NC TraCS update, 1/13/20:

2010 and 2011 patient data expected next week. Using PCORnet, but adding i2b2 meds to the data.

[2020-01-13 20:10] karafecho commented on #114
@xu-hao : To clarify the above plan, we currently have ICEES structured in a somewhat random manner. Specifically, for patient tables, ages are calculated with respect to January 1 of each one-year 'study' period, and exposures and outcomes are examined over the same one-year 'study' period. For visit tables, ages are calculated with respect to visit date, exposures are examined over the 24 hours

[2020-01-14 21:51] karafecho commented on #114
From Emily, new hash matching results, 1/10/2020:

UNCHCS denominator: 2,770,607 patients

NIEHS EPR denominator: 19,388 participants

Matched: 7,233 people (37% of all EPR participants)

[2020-01-14 21:51] karafecho commented on #114
From Emily, 1/14/2020:

Crosswalk is up on Rockfish, in /opt/RENCI/output/FHIR. Filename is UNC_NIEHS_XWalk_for_Hao.csv. The UNC identifier should match the patient IDs you have the in the FHIR files. The hash is what will match with NIEHS.

[2020-01-14 21:52] karafecho commented on #146
From Emily, 1/14/20:

Crosswalk is up on Rockfish, in /opt/RENCI/output/FHIR. Filename is UNC_NIEHS_XWalk_for_Hao.csv. The UNC identifier should match the patient IDs you have the in the FHIR files. The hash is what will match with NIEHS.

[2020-01-16 00:19] karafecho commented on #165
@lstillwe @arunacs : Please provide an update on any outstanding issues regarding the eight new airborne pollutant exposure estimates and copy @xu-hao and @karafecho. Please note that Hao needs access to the data ASAP for the ICEES+ KP demonstration project, so I'm hoping that Lisa can work with him to transfer the data to Rockfish. I believe he already has PM2.5 and ozone ConUS estimates for 2002

[2020-01-17 00:45] karafecho commented on #165
@lstillwe @arunacs : I'd also like to make the data for the additional eight airborne pollutant exposure estimates accessible via the CMAQ Exposures API/UI. @StanAhalt : Are you supportive of this effort?

[2020-01-17 02:43] karafecho commented on #146
Update from Kara on EPR asthma cohort data, 01.16.20:

N= 4129 total, all with SNP data

N= 2709 with HE_COMPLETION_DATE
Of those 2709, 4 participants have HE_COMPLETION_DATE in 2014, and 5 have HE_COMPLETION_DATE in 2018, remainder are all 2012 and 2013

N = 2637 with HE_COMPLETION_DATE and D28_Asthma = 0,1
Of those 2637, 1 participant has HE_COMPLETION_DATE in 2014, remainder are all 2012 and 20

[2020-01-17 03:06] karafecho commented on #146
Additional update from Kara, 01.16.20:

Hao has lat/longs and addresses for all 2709 participants with HE_COMPLETION_Date, so we can integrate the exposures data for the 2705 participants with HE_COMPLETION_DATE in 2012 or 2013, excluding the 4 participants with HE_COMPLETION_DATE in 2014.

We will use use the calendar year prior to HE_COMPLETION_DATE to determine airborne pollutant exposure estim

[2020-01-17 05:00] xu-hao commented on #146
yes, your plan seems correct

[2020-01-17 14:43] karafecho commented on #114
Update from Kara on EPR asthma cohort data, 01.16.20:

N= 4129 total, all with SNP data

N= 2709 with HE_COMPLETION_DATE
Of those 2709, 4 participants have HE_COMPLETION_DATE in 2014, and 5 have HE_COMPLETION_DATE in 2018, remainder are all 2012 and 2013

N = 2637 with HE_COMPLETION_DATE and D28_Asthma = 0,1
Of those 2637, 1 participant has HE_COMPLETION_DATE in 2014, remainder are all 2012 and 20

[2020-01-17 14:44] karafecho commented on #114
Additional update from Kara, 01.16.20:

Hao has lat/longs and addresses for all 2709 participants with HE_COMPLETION_Date, so we can integrate the exposures data for the 2705 participants with HE_COMPLETION_DATE in 2012 or 2013, excluding the 4 participants with HE_COMPLETION_DATE in 2014.

We will use use the calendar year prior to HE_COMPLETION_DATE to determine airborne pollutant exposure estim

[2020-01-17 14:46] karafecho commented on #114
In addition to the above plans for integration of UNC and NIEHS EPR asthma cohort data, we will stand up a private ICEES API at NIEHS.

@charles.schmitt@nih.gov : Please let @xuhao@renci.org and me know how we can move this effort forward as quickly as possible. Thanks!

[2020-01-17 14:47] karafecho commented on #146
@charles.schmitt@nih.gov : Any updates on the S3 hash values for the EPR asthma cohort? We cannot move forward with this effort until we receive the new hash values.

[2020-01-17 14:48] karafecho commented on #146
@jameschump @empfff : Any updates on the 2010 and 2011 patient data? Thanks!

[2020-01-21 15:04] empfff commented on #146
Still aiming for this week as we discussed, but we have a dependency on getting the legacy medication data loaded. We are working on it.

[2020-01-21 15:10] lstillwe commented on #132
@arunacs  - Question about the additional CMAQ pollutants:
The header for this file includes columns for CLon,CLat,GLon,GLat and also COL,ROW. What is the difference between these values for lat,lon and can I use them for the the real lat,lon values, or do I have to calculate them from COL,ROW?

This is of urgent interest to @karafecho and @xu-hao

Thanks very much,
Lisa

@arunacs - I have assumed

[2020-01-21 17:46] karafecho commented on #132
@arunacs : is this something that Chuck Change can help with as part of the NCE, which began on 1/1/20?

[2020-01-21 17:47] karafecho commented on #165
Related to issue #132 .

[2020-01-21 17:47] karafecho commented on #132
Related to issue #165.

[2020-01-22 18:32] xu-hao commented on #146
@jameschump @empfff I found this following issue in the 2015 data

files under Condition:
code -> coding only has system field but not code field
example: 100000.json

[2020-01-23 23:46] karafecho commented on #132
@lstillwe : I believe you transferred conUS data from 2002-2016 on PM2.5 and ozone to @xu-hao. Have you also transferred conUS data from 2002-2014 on the eight new airborne pollutants? If not, please do so as soon as possible.

@arunacs : Have you downloaded conUS data from 2015 and 2016 on the eight new airborne pollutants? If that's available, is that something that Charles Chang can help with?

[2020-01-24 01:14] lstillwe commented on #132
@karafecho I have given both items to @xu-hao

[2020-01-24 18:11] karafecho commented on #132
@xu-hao : Just to confirm, you now have 2002-2016 conUS data for all ten airborne pollutants, correct?

[2020-01-24 22:13] karafecho commented on #132
From Hao: i have 2002 - 2016 on ozone and pm2.5, 2002 - 2014 on the additional 8 pollutants (except that only 2002, 2006, 2013, 2014 have BENZ data)

[2020-01-29 15:31] jameschump commented on #146
2010 and 2011 data are now available on rockfish.

[2020-01-29 17:40] arunacs commented on #132
@lstillwe,  CLon and CLat refer to the Centroid of the Census tracts, while GLon and GLat refer to the SW corner of the 12x12km grid-cell they were extracted from.

[2020-01-29 17:42] arunacs commented on #132
@karafecho, I need to verify which of these additional pollutants are available - either with the EPA from their simulations, or from other work that IE has done. I will get back to you.

[2020-01-29 17:47] karafecho commented on #146
Thanks, @jameschump!

Has the minor issue with the 2015 data been resolved?

[2020-01-29 18:20] jameschump commented on #146
I haven't had a chance to look at it yet but plan to today.

[2020-01-29 22:17] karafecho commented on #132
Thanks, @arunacs!

[2020-01-29 22:31] karafecho commented on #114
Clarification to comment from @xu-hao on November 28, 2019:

**Original comment**

Latest cross walk data for EPR data results in

    213 matches with 2012 fhir data and
    42 matches with icees table.

The difference between these two data sets include:

    rows with no lat, lon
    rows with age >= 90

which are excluded from icees table

**Correction**

The matches noted above represent a tw

[2020-03-31 14:50] karafecho commented on #165
Update from Sarav, 03.10.20 re data on eight new airborne pollutant: These are based on WRF-SMOKE-CMAQ simulations that IE performed to support another ongoing study. We are leveraging those runs and doing the post-processing and downscaling to census tract scales to support Data Translator. [Additional comment from Kara: Goal is to complete this effort by the end of March 2020.]

@arunacs : Any u

[2020-04-01 03:34] arunacs commented on #165
@karafecho, the latest 2 years of data are available now in the same location. I wanted to generate some more stats comparing all 15 years of data, but would need more time. So, here you go now.

/proj/ie/proj/NIH-DataTranslator/for_RENCI/CMAQ/OtherPollutants
cmaq_downscaling_12US1_459x299_2016.csv
cmaq_downscaling_12US1_459x299_2015.csv

[2020-04-01 15:10] karafecho commented on #165
Thanks, @arunacs.

@lstillwe @xu-hao : Please see Sarav's post. Data on the eight new airborne pollutants are now available for years 2002-2016. We may want to add those to the Exposures API and our 2010-2016 ICEES+ integrated feature tables. WRT the former task, I realize that you do not have time, Lisa. We just received funding for the next phase of Translator Phase II, so we may be able to carv